{% include "captcha/options.html" %}

<div id="id_{{ name }}">
    <noscript>
        <iframe src="{{ api_server }}/noscript?k={{ public_key }}{{ error_param }}"
                height="300"
                width="500"
                frameborder="0"></iframe><br>
        <textarea name="recaptcha_challenge_field" rows="3" cols="40"></textarea>
        <input type='hidden' name='recaptcha_response_field' value='manual_challenge'>
    </noscript>
</div>
<script>
    {% comment %}
    If Recaptcha is already available on the page which is the case if it
        has been loaded more than once or the AJAX api has been included, build
    it via javascript.
    {% endcomment %}

    if(Recaptcha){
        Recaptcha.create('{{ public_key }}',
                         'id_{{ name }}',
                         null,
                         RecaptchaOptions);
    }else{
        (function(d){
            var js = d.createElement('script'),
                    ref = d.getElementById('id_{{ name }}');
            js.src = "{{api_server}}/challenge?k={{ public_key }}{{ error_param }}";
            ref.parentNode.insertBefore(js, ref);
        }(document));
    }
</script>